@(message: String, actorForm: Form[views.form.ActorForm])(implicit messages: play.i18n.Messages)

@import play.i18n._
@import models.Prefecture

@implicitField = @{ helper.FieldConstructor(myFieldConstructorTemplate.f) }

@main("Actor Create", "俳優登録") {
    @if(flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
      </div>
    </div>
    }
    <div class="row">
      <div class="col-md-12">
        <form class="form-horizontal" role="form" action="/actor/save" method="post">
          @defining(actorForm("id")) { idField =>
            <input type="hidden" id="@idField.id" name="@idField.name.get" value="@idField.value.get">
          }
          <!--  name -->
          @helper.inputText(actorForm("name"), 'labelname -> messages("actor.name"), 'value -> actorForm("name").value.getOrElse(""))
          <!-- height -->
          @helper.inputText(actorForm("height"), 'labelname -> messages("actor.height"), 'value -> actorForm("name").value.getOrElse(""))
          <!-- blood -->
          @helper.inputText(actorForm("blood"), 'labelname -> messages("actor.blood"), 'value -> actorForm("blood").value.getOrElse(""))
          <!-- birthday -->
          @helper.inputText(actorForm("birthday"), 'labelname -> messages("actor.birthday"), 'value -> actorForm("birthday").value.getOrElse(""))
          <!-- birthplaceId -->
          <div class="form-group">
            @defining(actorForm("birthplaceId")) { birthplaceIdField =>
            <label for="birthplaceIdField.id" class="col-sm-2 control-label">@messages("actor.birthplace")</label>
            <div class="col-sm-10">
              <select id="@birthplaceIdField.id" class="form-control" name="@birthplaceIdField.name.get">
                <option value="">---</option>
                @for(pref <- Prefecture.list()) {
                <option value="@pref.id">@pref.name</option>
                }
              </select>
              @if(birthplaceIdField.hasErrors) {
              <span class="help-block">@birthplaceIdField.errors.mkString(", ")</span>
              }
            </div>
            }
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" value="save" />
          </div>
        </form>
      </div>
    </div>
}